@charset "UTF-8";
/*
    CUSTOM CSS
*/
.logo-min {
    max-width: 192px;
    height: 40px;
}
.bg-marketing {
    background-color: #4776e6;
    background-image: linear-gradient(to right,#4776e6,#8e54e9);
}