<div class="content-heading">
    <div>
        🔑 {{ 'general.persisted-grants' | translate }}
        <small><b> {{ 'persistedGrant.description' | translate }}</b></small>
    </div>
</div>

<app-loading *ngIf="persistedGrants == null"></app-loading>

<div class="container-fluid" *ngIf="persistedGrants">
    <div class="col-xl-12 col-md-12 col-lg-12">
        <div class="card">

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th> {{ 'persistedGrant.list.clientId' | translate }}</th>
                                <th> {{ 'persistedGrant.list.type' | translate }} </th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let grant of persistedGrants">
                                <th>
                                    <a [routerLink]="['/persisted-grants/edit', grant.name]" class="btn btn-primary btn-xs"
                                        placement="top" [tooltip]="'general.edit' | translate"><i class="fa fa-edit"></i></a>
                                    &nbsp;
                                </th>
                                <td>{{grant.clientId}}</td>
                                <td>{{grant.type}}</td>
                                <td>
                                    <button class="btn btn-danger btn-xs" placement="top" [tooltip]="'general.remove' | translate"
                                        (click)="remove(grant.key)"><i class="fa fa-times"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>