@using Jp.UI.SSO.Models
@model Jp.UI.SSO.Models.LoggedOutViewModel

@{
    // set this so the layout rendering sees an anonymous user
    ViewData["signed-out"] = true;
    Layout = "~/Views/Shared/_LayoutExt.cshtml";
}

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card-group">
            <div class="card p-4">
                <div class="card-body">
                    <h1>
                        Cya!
                        <small>You are now logged out</small>
                    </h1>
                    @if (Model.PostLogoutRedirectUri != null)
                    {
                        <div>
                            Click <a class="PostLogoutRedirectUri" href="@Model.PostLogoutRedirectUri">here</a> to return to the
                            <span>@Model.ClientName</span> application.
                        </div>
                    }
                    else
                    {
                        <div>
                            Click <a asp-controller="Account" asp-action="Login">here</a> to login with another account.
                        </div>
                    }
                </div>
            </div>
        </div>
        @if (Model.SignOutIframeUrl != null)
        {
            <iframe width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>
        }
    </div>
</div>
@section scripts
{
    @if (Model.AutomaticRedirectAfterSignOut)
    {
        <script src="~/js/signout-redirect.js"></script>
    }
}