<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="jumbotron">
                    <h1 class="display-3">Welcome!</h1>
                    <p class="lead">This is User Management UI for JP Project. Here the user can manage password (change,
                        add) and update profile data.</p>
                    <hr class="my-4">
                    <p>
                            <img src="/assets/img/brand/logo.png" class="d-none d-xl-block">
                            <img src="/assets/img/brand/logo-min.png" class="d-lg-none">
                    </p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="https://github.com/brunohbrito/JP-Project" target="_blank" role="button">Learn
                            more</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>