<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="jumbotron">
                    <h1 class="display-3">{{ 'home.WELCOME' | translate }}</h1>
                    <p class="lead">{{ 'home.MANAGEMENT' | translate }}</p>
                    <hr class="my-4">
                    <p>
                            <img src="/assets/img/brand/logo.png" class="d-none d-xl-block">
                            <img src="/assets/img/brand/logo-min.png" class="d-lg-none">
                    </p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="https://github.com/brunohbrito/JP-Project" target="_blank" role="button">{{ 'home.LEARN-MORE' | translate }}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>