<div class="content-heading">
    <div>
        Client - <b>Edit</b>
        <small><b> {{ 'client.ClientDescription' | translate }}.</b></small>
    </div>
</div>

<app-loading *ngIf="model == null"></app-loading>

<div class="card card-default" *ngIf="model">
    <div class="card-header">
        <h3><img *ngIf="model.logoUri" width="150" [src]="model.logoUri" />&nbsp;{{model.clientName}}</h3>
    </div>
    <div class="card-body">
        <tabset>
            <tab [heading]="'client.details.basic' | translate">
                <div class="form-group row">
                    <label class="col-xl-2 col-form-label">{{ 'client.details.clientId' | translate }} <i class="fa fa-comment-dots" placement="top" [tooltip]="'client.details.clientId-tooltip' | translate"></i></label>
                    <div class="col-xl-10">
                        <input class="form-control" autocomplete="client-id" placeholder="ClientId" [(ngModel)]="model.clientId" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-2 col-form-label">{{ 'client.details.name' | translate }} <i class="fa fa-comment-dots"
                            placement="top" [tooltip]="'client.details.name-tooltip' | translate"></i></label>
                    <div class="col-xl-10">
                        <input class="form-control" autocomplete="client-name" placeholder="Name" [(ngModel)]="model.clientName" />
                    </div>
                </div>
            </tab>
            <tab [heading]="'client.details.settings' | translate">
                <app-client-settings [model]="model"></app-client-settings>
            </tab>
            <tab [heading]="'client.details.auth' | translate "></tab>
            <tab [heading]="'client.details.token' | translate"></tab>
            <tab [heading]="'client.details.consent' | translate"></tab>
        </tabset>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane show active" id="nav-name" role="tabpanel" aria-labelledby="nav-name-tab">

            </div>
            <div class="tab-pane" id="nav-basics" role="tabpanel" aria-labelledby="nav-basics-tab">
                @await Html.PartialAsync("Client/Section/Basics")
            </div>
            <div class="tab-pane" id="nav-authentication" role="tabpanel" aria-labelledby="nav-authentication-tab">
                @await Html.PartialAsync("Client/Section/Authentication")
            </div>
            <div class="tab-pane" id="nav-token" role="tabpanel" aria-labelledby="nav-token-tab">
                @await Html.PartialAsync("Client/Section/Token")
            </div>
            <div class="tab-pane" id="nav-consent" role="tabpanel" aria-labelledby="nav-consent-tab">
                @await Html.PartialAsync("Client/Section/Consent")
            </div>
        </div>
    </div>
</div>


<pre>{{model | json}}</pre>