<div class="row">
    <div class="col-lg-12" *ngIf="spinner == 1">
        <div class="card card-default">
            <div class="card-header"></div>
            <div class="card-body loader-demo d-flex align-items-center justify-content-center">
                <div class="ball-pulse">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12" *ngIf="spinner == 2">
        <div class="card card-default">
            <div class="card-header"></div>
            <div class="card-body loader-demo d-flex align-items-center justify-content-center">
                <div class="ball-grid-pulse">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12" *ngIf="spinner == 3">
        <div class="card card-default">
            <div class="card-header"></div>
            <div class="card-body loader-demo d-flex align-items-center justify-content-center">
                <div class="ball-clip-rotate">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12" *ngIf="spinner == 4">
        <div class="card card-default">
            <div class="card-header"></div>
            <div class="card-body loader-demo d-flex align-items-center justify-content-center">
                <div class="ball-clip-rotate-pulse">
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12" *ngIf="spinner == 5">
        <div class="card card-default">
            <div class="card-header"></div>
            <div class="card-body loader-demo d-flex align-items-center justify-content-center">
                <div class="square-spin">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12" *ngIf="spinner == 6">
        <div class="card card-default">
            <div class="card-header"></div>
            <div class="card-body loader-demo d-flex align-items-center justify-content-center">
                <div class="ball-clip-rotate-multiple">
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12" *ngIf="spinner == 7">
        <div class="card card-default">
            <div class="card-header"></div>
            <div class="card-body loader-demo d-flex align-items-center justify-content-center">
                <div class="ball-pulse-rise">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12" *ngIf="spinner == 8">
        <div class="card card-default">
            <div class="card-header"></div>
            <div class="card-body loader-demo d-flex align-items-center justify-content-center">
                <div class="ball-rotate">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12" *ngIf="spinner == 9">
        <div class="card card-default">
            <div class="card-header"></div>
            <div class="card-body loader-demo d-flex align-items-center justify-content-center">
                <div class="cube-transition">
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12" *ngIf="spinner == 10">
        <div class="card card-default">
            <div class="card-header"></div>
            <div class="card-body loader-demo d-flex align-items-center justify-content-center">
                <div class="ball-zig-zag">
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12" *ngIf="spinner == 11">
        <div class="card card-default">
            <div class="card-header"></div>
            <div class="card-body loader-demo d-flex align-items-center justify-content-center">
                <div class="ball-zig-zag-deflect">
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12" *ngIf="spinner == 12">
        <div class="card card-default">
            <div class="card-header"></div>
            <div class="card-body loader-demo d-flex align-items-center justify-content-center">
                <div class="ball-triangle-path">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12" *ngIf="spinner == 13">
        <div class="card card-default">
            <div class="card-header"></div>
            <div class="card-body loader-demo d-flex align-items-center justify-content-center">
                <div class="ball-scale">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12" *ngIf="spinner == 14">
        <div class="card card-default">
            <div class="card-header"></div>
            <div class="card-body loader-demo d-flex align-items-center justify-content-center">
                <div class="line-scale">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12" *ngIf="spinner == 15">
        <div class="card card-default">
            <div class="card-header"></div>
            <div class="card-body loader-demo d-flex align-items-center justify-content-center">
                <div class="line-scale-party">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12" *ngIf="spinner == 16">
        <div class="card card-default">
            <div class="card-header"></div>
            <div class="card-body loader-demo d-flex align-items-center justify-content-center">
                <div class="ball-scale-multiple">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12" *ngIf="spinner == 17">
        <div class="card card-default">
            <div class="card-header"></div>
            <div class="card-body loader-demo d-flex align-items-center justify-content-center">
                <div class="ball-pulse-sync">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12" *ngIf="spinner == 18">
        <div class="card card-default">
            <div class="card-header"></div>
            <div class="card-body loader-demo d-flex align-items-center justify-content-center">
                <div class="ball-beat">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12" *ngIf="spinner == 19">
        <div class="card card-default">
            <div class="card-header"></div>
            <div class="card-body loader-demo d-flex align-items-center justify-content-center">
                <div class="line-scale-pulse-out">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12" *ngIf="spinner == 20">
        <div class="card card-default">
            <div class="card-header"></div>
            <div class="card-body loader-demo d-flex align-items-center justify-content-center">
                <div class="line-scale-pulse-out-rapid">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12" *ngIf="spinner == 21">
        <div class="card card-default">
            <div class="card-header"></div>
            <div class="card-body loader-demo d-flex align-items-center justify-content-center">
                <div class="ball-scale-ripple">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12" *ngIf="spinner == 22">
        <div class="card card-default">
            <div class="card-header"></div>
            <div class="card-body loader-demo d-flex align-items-center justify-content-center">
                <div class="ball-scale-ripple-multiple">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12" *ngIf="spinner == 23">
        <div class="card card-default">
            <div class="card-header"></div>
            <div class="card-body loader-demo d-flex align-items-center justify-content-center">
                <div class="ball-spin-fade-loader">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12" *ngIf="spinner == 24">
        <div class="card card-default">
            <div class="card-header"></div>
            <div class="card-body loader-demo d-flex align-items-center justify-content-center">
                <div class="line-spin-fade-loader">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12" *ngIf="spinner == 25">
        <div class="card card-default">
            <div class="card-header"></div>
            <div class="card-body loader-demo d-flex align-items-center justify-content-center">
                <div class="triangle-skew-spin">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12" *ngIf="spinner == 26">
        <div class="card card-default">
            <div class="card-header"></div>
            <div class="card-body loader-demo d-flex align-items-center justify-content-center">
                <div class="pacman">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12" *ngIf="spinner == 27">
        <div class="card card-default">
            <div class="card-header"></div>
            <div class="card-body loader-demo d-flex align-items-center justify-content-center">
                <div class="ball-grid-beat">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12" *ngIf="spinner == 28">
        <div class="card card-default">
            <div class="card-header"></div>
            <div class="card-body loader-demo d-flex align-items-center justify-content-center">
                <div class="semi-circle-spin">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12" *ngIf="spinner == 29">
        <div class="card card-default">
            <div class="card-header"></div>
            <div class="card-body loader-demo loader-demo-sk d-flex align-items-center justify-content-center">
                <div class="sk-rotating-plane"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-12" *ngIf="spinner == 30">
        <div class="card card-default">
            <div class="card-header"></div>
            <div class="card-body loader-demo loader-demo-sk d-flex align-items-center justify-content-center">
                <div class="sk-double-bounce">
                    <div class="sk-child sk-double-bounce1"></div>
                    <div class="sk-child sk-double-bounce2"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12" *ngIf="spinner == 31">
        <div class="card card-default">
            <div class="card-header"></div>
            <div class="card-body loader-demo loader-demo-sk d-flex align-items-center justify-content-center">
                <div class="sk-wave">
                    <div class="sk-rect sk-rect1"></div>
                    <div class="sk-rect sk-rect2"></div>
                    <div class="sk-rect sk-rect3"></div>
                    <div class="sk-rect sk-rect4"></div>
                    <div class="sk-rect sk-rect5"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12" *ngIf="spinner == 32">
        <div class="card card-default">
            <div class="card-header"></div>
            <div class="card-body loader-demo loader-demo-sk d-flex align-items-center justify-content-center">
                <div class="sk-wandering-cubes">
                    <div class="sk-cube sk-cube1"></div>
                    <div class="sk-cube sk-cube2"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12" *ngIf="spinner == 33">
        <div class="card card-default">
            <div class="card-header"></div>
            <div class="card-body loader-demo loader-demo-sk d-flex align-items-center justify-content-center">
                <div class="sk-spinner sk-spinner-pulse"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-12" *ngIf="spinner == 34">
        <div class="card card-default">
            <div class="card-header"></div>
            <div class="card-body loader-demo loader-demo-sk d-flex align-items-center justify-content-center">
                <div class="sk-chasing-dots">
                    <div class="sk-child sk-dot1"></div>
                    <div class="sk-child sk-dot2"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12" *ngIf="spinner == 35">
        <div class="card card-default">
            <div class="card-header"></div>
            <div class="card-body loader-demo loader-demo-sk d-flex align-items-center justify-content-center">
                <div class="sk-three-bounce">
                    <div class="sk-child sk-bounce1"></div>
                    <div class="sk-child sk-bounce2"></div>
                    <div class="sk-child sk-bounce3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12" *ngIf="spinner == 36">
        <div class="card card-default">
            <div class="card-header"></div>
            <div class="card-body loader-demo loader-demo-sk d-flex align-items-center justify-content-center">
                <div class="sk-circle">
                    <div class="sk-circle1 sk-child"></div>
                    <div class="sk-circle2 sk-child"></div>
                    <div class="sk-circle3 sk-child"></div>
                    <div class="sk-circle4 sk-child"></div>
                    <div class="sk-circle5 sk-child"></div>
                    <div class="sk-circle6 sk-child"></div>
                    <div class="sk-circle7 sk-child"></div>
                    <div class="sk-circle8 sk-child"></div>
                    <div class="sk-circle9 sk-child"></div>
                    <div class="sk-circle10 sk-child"></div>
                    <div class="sk-circle11 sk-child"></div>
                    <div class="sk-circle12 sk-child"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12" *ngIf="spinner == 37">
        <div class="card card-default">
            <div class="card-header"></div>
            <div class="card-body loader-demo loader-demo-sk d-flex align-items-center justify-content-center">
                <div class="sk-cube-grid">
                    <div class="sk-cube sk-cube1"></div>
                    <div class="sk-cube sk-cube2"></div>
                    <div class="sk-cube sk-cube3"></div>
                    <div class="sk-cube sk-cube4"></div>
                    <div class="sk-cube sk-cube5"></div>
                    <div class="sk-cube sk-cube6"></div>
                    <div class="sk-cube sk-cube7"></div>
                    <div class="sk-cube sk-cube8"></div>
                    <div class="sk-cube sk-cube9"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12" *ngIf="spinner == 38">
        <div class="card card-default">
            <div class="card-header"></div>
            <div class="card-body loader-demo loader-demo-sk d-flex align-items-center justify-content-center">
                <div class="sk-fading-circle">
                    <div class="sk-circle1 sk-circle"></div>
                    <div class="sk-circle2 sk-circle"></div>
                    <div class="sk-circle3 sk-circle"></div>
                    <div class="sk-circle4 sk-circle"></div>
                    <div class="sk-circle5 sk-circle"></div>
                    <div class="sk-circle6 sk-circle"></div>
                    <div class="sk-circle7 sk-circle"></div>
                    <div class="sk-circle8 sk-circle"></div>
                    <div class="sk-circle9 sk-circle"></div>
                    <div class="sk-circle10 sk-circle"></div>
                    <div class="sk-circle11 sk-circle"></div>
                    <div class="sk-circle12 sk-circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>