@import '../../styles/app/variables.scss';
.spinner-container {
    margin: 0 auto;
}

.spinner {
    animation: rotate 2s linear infinite;
    z-index: 2;
    .path {
        stroke: $primary;
        stroke-linecap: round;
        animation: dash 1.5s ease-in-out infinite;
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -10;
        &.white-stroke {
            stroke: white;
        }
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}