<div *dropdownMenu class="dropdown-menu dropdown-menu-right animated flipInX">
    <div class="dropdown-item">
        <!-- START list group-->
        <div class="list-group">
            <!-- list item-->
            <div class="list-group-item list-group-item-action">
                <div class="media">
                    <div class="align-self-start mr-2">
                        <em class="fas fa-rocket fa-2x text-info"></em>
                    </div>
                    <div class="media-body">
                        <p class="m-0">Launch</p>
                        <p class="m-0 text-muted text-sm">2018-10 first release</p>
                    </div>
                </div>
            </div>
            <!-- last list item-->
            <div class="list-group-item list-group-item-action">
                <span class="d-flex align-items-center">
                    <a class="text-sm" href="https://github.com/brunohbrito/JP-Project">More notifications</a>
                    <span class="badge badge-info ml-auto"><i class="fas fa-info"></i></span>
                </span>
            </div>
        </div>
        <!-- END list group-->
    </div>
</div>