<div class="content-heading">
    <div>
        ☁️ {{ 'general.api-resource' | translate }}
        <small><b> {{ 'apiResource.description' | translate }}.</b></small>
    </div>
</div>

<app-loading *ngIf="model == null || showButtonLoading"></app-loading>

<div *ngIf="errors.length > 0">
    <alert type="danger">
        <div *ngFor="let error of errors; let i = index"><strong>{{i+1}}</strong> {{error}}</div>
    </alert>
</div>

<div class="card card-default" *ngIf="model" [hidden]="showButtonLoading">
    <div class="card-header">
        <h3>{{model.name}}</h3>
    </div>
    <div class="card-body">
        <!--Input - text -->
        <fieldset>
            <div class="form-group row">
                <label class="col-xl-4 col-form-label" placement="top" [tooltip]="'apiResource.edit.name-tooltip' | translate">{{
                    'apiResource.edit.name' | translate }} <i class="fa fa-comment-dots"></i></label>
                <div class="col-xl-8">
                    <input class="form-control" autocomplete="model-name" [placeholder]="'apiResource.edit.name-tooltip' | translate"
                        [(ngModel)]="model.name" />
                </div>
            </div>
        </fieldset>
        <!--Input - text -->
        <fieldset>
            <div class="form-group row">
                <label class="col-xl-4 col-form-label" placement="top" [tooltip]="'apiResource.edit.displayName-tooltip' | translate">{{
                    'apiResource.edit.displayName' | translate }} <i class="fa fa-comment-dots"></i></label>
                <div class="col-xl-8">
                    <input class="form-control" autocomplete="model-displayName" [placeholder]="'apiResource.edit.displayName-tooltip' | translate"
                        [(ngModel)]="model.displayName" />
                </div>
            </div>
        </fieldset>
        <!--Input - text -->
        <fieldset>
            <div class="form-group row">
                <label class="col-xl-4 col-form-label" placement="top" [tooltip]="'apiResource.edit.description-tooltip' | translate">{{
                    'apiResource.edit.description' | translate }} <i class="fa fa-comment-dots"></i></label>
                <div class="col-xl-8">
                    <input class="form-control" autocomplete="model-description" [placeholder]="'apiResource.edit.description-tooltip' | translate"
                        [(ngModel)]="model.description" />
                </div>
            </div>
        </fieldset>
        <!--Checkbox-->
        <fieldset>
            <div class="form-group row">
                <label class="col-xl-4 col-form-label" placement="top" [tooltip]="'apiResource.edit.enabled-tooltip' | translate">{{
                    'apiResource.edit.enabled' | translate }} <i class="fa fa-comment-dots"></i></label>
                <div class="col-xl-8">
                    <label class="switch m-0">
                        <input type="checkbox" [(ngModel)]="model.enabled" />
                        <span></span>
                    </label>
                </div>
            </div>
        </fieldset>
        <!--Select with tags-->
        <fieldset>
            <div class="form-group row">
                <label class="col-xl-4 col-form-label" placement="top" [tooltip]="'apiResource.edit.userClaims-tooltip' | translate">{{
                    'apiResource.edit.userClaims' | translate }} <i class="fa fa-comment-dots"></i></label>
                <div class="col-xl-8">
                    <tag-input theme='bootstrap' name="userClaims" [modelAsStrings]="true" placeholder="+Claim"
                        [(ngModel)]="model.userClaims"></tag-input>
                </div>
                <div class="col-xl-8 offset-4">
                    <small>Sugestions</small>
                    <br>
                    <button class="btn btn-xs btn-outline-info" *ngFor="let item of standardClaims" (click)="addClaim(item)">{{item}}
                        <i class="fa fa-plus-circle"></i>&nbsp;</button>
                </div>
            </div>
        </fieldset>

        <!--Button-->
        <fieldset>
            <div class="form-group row">
                <label placement="top" [tooltip]="'apiResource.edit.secrets-tooltip' | translate" class="col-xl-4 col-form-label">{{
                    'apiResource.edit.secrets' | translate }} <i class="fa fa-comment-dots"></i></label>
                <div class="col-xl-8">
                    <a [routerLink]="['/api-resource/secrets', model.name]" class="btn btn-primary">{{
                        'apiResource.edit.secrets' | translate }}</a>
                </div>
            </div>
        </fieldset>
        <!--Button-->
        <fieldset>
            <div class="form-group row">
                <label placement="top" [tooltip]="'apiResource.edit.scope-tooltip' | translate" class="col-xl-4 col-form-label">{{
                    'apiResource.edit.scope' | translate }} <i class="fa fa-comment-dots"></i></label>
                <div class="col-xl-8">
                    <a [routerLink]="['/api-resource/scopes', model.name]" class="btn btn-primary">{{
                        'apiResource.edit.scope' | translate }}</a>
                </div>
            </div>
        </fieldset>

    </div>
    <div class="card-footer">
        <button class="mb-1 btn btn-primary" (click)="update()" type="button">Save</button>
        <a class="mb-1 btn btn-secondary" [routerLink]="['/api-resource']">Cancel</a>
    </div>
</div>

<div *ngIf="errors.length > 0">
    <alert type="danger">
        <div *ngFor="let error of errors; let i = index"><strong>{{i+1}}</strong> {{error}}</div>
    </alert>
</div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>