<div class="form-horizontal">
    <fieldset>
        <div class="form-group row">
            <label placement="top" [tooltip]="'client.details.clientId-tooltip' | translate" class="col-xl-3 col-form-label">{{
                'client.details.clientId' | translate }} <i class="fa fa-comment-dots"></i></label>
            <div class="col-xl-9">
                <input class="form-control" autocomplete="client-id" placeholder="ClientId" [(ngModel)]="model.clientId" />
            </div>
        </div>
    </fieldset>
    <fieldset>
        <div class="form-group row">
            <label placement="top" [tooltip]="'client.details.name-tooltip' | translate" class="col-xl-3 col-form-label">{{
                'client.details.name' | translate }} <i class="fa fa-comment-dots"></i></label>
            <div class="col-xl-9">
                <input class="form-control" autocomplete="client-name" placeholder="Name" [(ngModel)]="model.clientName" />
            </div>
        </div>
    </fieldset>

    <!--Input - text -->
    <fieldset>
        <div class="form-group row">
            <label placement="top" [tooltip]="'client.details.description-tooltip' | translate" class="col-xl-3 col-form-label">{{
                'client.details.description' | translate }} <i class="fa fa-comment-dots"></i></label>
            <div class="col-xl-9">
                <input class="form-control" autocomplete="client-description" [placeholder]="'client.details.description-tooltip' | translate"
                    [(ngModel)]="model.description" />
            </div>
        </div>
    </fieldset>

    <!--Input - text -->
    <fieldset>
        <div class="form-group row">
            <label placement="top" [tooltip]="'client.details.clientUri-tooltip' | translate" class="col-xl-3 col-form-label">{{
                'client.details.clientUri' | translate }} <i class="fa fa-comment-dots"></i></label>
            <div class="col-xl-9">
                <input class="form-control" autocomplete="client-clientUri" [placeholder]="'client.details.clientUri-tooltip' | translate"
                    [(ngModel)]="model.clientUri" />
            </div>
        </div>
    </fieldset>

    <!--Input - text -->
    <fieldset>
        <div class="form-group row">
            <label placement="top" [tooltip]="'client.details.logoUri-tooltip' | translate" class="col-xl-3 col-form-label">{{
                'client.details.logoUri' | translate }} <i class="fa fa-comment-dots"></i></label>
            <div class="col-xl-9">
                <input class="form-control" autocomplete="client-logoUri" [placeholder]="'client.details.logoUri-tooltip' | translate"
                    [(ngModel)]="model.logoUri" />
            </div>
        </div>
    </fieldset>
</div>