<div class="content-heading">
    <div>
        💻 {{ 'general.events' | translate }} - <b>Claims</b>
        <small><b> {{ 'events.description' | translate }}</b></small>
    </div>
</div>

<app-loading *ngIf="model == null"></app-loading>


<div class="card card-default" *ngIf="model">
    <div class="card-header">
        <div class="card-header" *ngIf="model">
            <!-- START card-->
            <div class="card">
                <div class="card-body">
                    <div class="card bg-danger-dark border-0">
                        <div class="row align-items-center mx-0">
                            <div class="col-4 text-center">
                                <em class="icon-star fa-3x"></em>
                            </div>
                            <div class="col-8 py-4 bg-danger rounded-right">
                                <div class="h1 m-0 text-bold">{{total}}</div>
                                <div class="text-uppercase">Events</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END card-->
        </div>
    </div>
    <div class="card-body">
        <div class="form-horizontal">
            <!--Select-->
            <fieldset>
                <div class="form-group row">
                    <label class="col-xl-2 col-form-label" placement="top" [tooltip]="'events.eventType-tooltip' | translate">{{ 'events.eventType' | translate }} <i class="fa fa-comment-dots"></i></label>
                    <div class="col-xl-4">
                        <ng-select [items]="aggregatesTypes" (change)="getAggregates($event)" [(ngModel)]="selectedType" [placeholder]="'events.eventType' | translate"></ng-select>
                    </div>
                    <label class="col-xl-2 col-form-label" placement="top" [tooltip]="'events.aggregate-tooltip' | translate">{{ 'events.aggregate' | translate }} <i class="fa fa-comment-dots"></i></label>
                    <div class="col-xl-4">
                        <input [(ngModel)]="selectedAggregate" [typeahead]="aggregatesToSelect" (typeaheadOnSelect)="loadResources()" (blur)="loadResources()" (keyup.enter)="loadResources()" class="form-control">
                    </div>
                </div>
            </fieldset>
        </div>
        <table class="table table-striped table-bordered table-hover" id="table-events">
            <thead>
                <tr>
                    <th>{{ 'events.aggregate' | translate }}</th>
                    <th>{{ 'events.category' | translate }}</th>
                    <th>{{ 'events.action' | translate }}</th>
                    <th>{{ 'events.when' | translate }}</th>
                    <th>{{ 'events.who' | translate }}</th>
                    <th>{{ 'events.where' | translate }}</th>
                    <th>{{ 'events.details' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let history of model; index as i">
                    <td>{{history.aggregate}}</td>
                    <td>{{history.category}}</td>
                    <td>{{history.action}}</td>
                    <td>{{history.when}}</td>
                    <td>{{history.who}}</td>
                    <td>{{history.ip}}</td>
                    <td>
                        <button class="btn btn-primary" (click)="addRow(i, 'table-events')"><i class="far fa-clock"></i></button>
                    </td>
                </tr>


            </tbody>
        </table>
        <p>
            <small class="text-muted">* If you are not an Administrator, some fields will not show.</small>
        </p>

    </div>
    <div class="card-footer">
        <div class="d-flex">
            <div>
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search" (keyup)="findEvent($event)" (blur)="findEvent($event)" />
                </div>
            </div>
            <div class="ml-auto">
                <div class="input-group">
                    <label class="col-form-label">Items per page:&nbsp;</label>
                    <select class="custom-select" [(ngModel)]="quantity" (change)="loadResources()">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                    </select>
                    <ngb-pagination [collectionSize]="total" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" [pageSize]="quantity" (pageChange)="loadResources()">
                    </ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>