<app-header [fixed]="true" [navbarBrandFull]="{src: 'assets/img/brand/logo.png', height: 40, alt: 'Jp Project', href: 'https://github.com/brunohbrito/JP-Project'}"
    [navbarBrandMinimized]="{src: 'assets/img/brand/logo-min.png', height: 40, alt: 'Jp Project', href: 'https://github.com/brunohbrito/JP-Project'}"
    [sidebarToggler]="'lg'" [asideMenuToggler]="false" [mobileAsideMenuToggler]="false">
    <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item px-3">
            <a class="nav-link" [routerLink]="'/user/profile'">Users</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" [routerLink]="'/user/account'">Settings</a>
        </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item dropdown" dropdown placement="bottom right">
            <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
                dropdownToggle (click)="false">
                <i class="fa fa-2x fa-globe"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right pointer" *dropdownMenu aria-labelledby="simple-dropdown">
                <div class="dropdown-header text-center"><strong>{{ "general.AVAILABLE-LANGUAGES" | translate }}</strong></div>
                <a class="dropdown-item" (click)="setLang('pt')"><i class="flag-icon flag-icon-br"></i> Português</a>
                <a class="dropdown-item" (click)="setLang('en')"><i class="flag-icon flag-icon-us"></i> English</a>
            </div>
        </li>
        <li class="nav-item dropdown" dropdown placement="bottom right">
            <a class="nav-link" data-toggle="dropdown" *ngIf="userProfile$ | async; let userProfile" href="#" role="button" aria-haspopup="true" aria-expanded="false"
                dropdownToggle (click)="false">
                <img *ngIf="userProfile.picture" class="img-avatar" [src]="userProfile.picture" alt="userProfile.name" />
                <img *ngIf="!userProfile.picture" class="img-avatar" src="/assets/img/dummy.png" alt="userProfile.name" />{{userProfile.name}}&nbsp;&nbsp;
            </a>
            <div class="dropdown-menu dropdown-menu-right pointer" *dropdownMenu aria-labelledby="simple-dropdown">
                <div class="dropdown-header text-center"><strong>Account</strong></div>
                <a class="dropdown-item" (click)="logout()"><i class="fa fa-lock"></i> Logout</a>
            </div>
        </li>
    </ul>
</app-header>
<div class="app-body aside-menu-hidden">
    <app-sidebar [fixed]="true" [display]="'lg'">
        <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
        <app-sidebar-minimizer></app-sidebar-minimizer>
    </app-sidebar>
    <!-- Main content -->
    <main class="main">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <app-breadcrumb></app-breadcrumb>
        </ol>
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div><!-- /.container-fluid -->
    </main>
</div>
<app-footer>
    <span><a href="https://github.com/brunohbrito/JP-Project">JP Project</a> &copy; 2018 Bruno Brito.</span>
    <span class="ml-auto">Powered by <a href="https://coreui.io/angular">CoreUI</a></span>
</app-footer>