<div class="row justify-content-center" *ngIf="historyData$ | async as history; else loading">
    <div class="col-lg-7 col-md-9">
        <div class="card b">
            <div class="card-header bg-primary text-bold">
                <i class="fa fa-align-justify"></i> {{ 'user.history.TITLE' | translate }}</div>
            <div class="card-body">
                <table class="table table-responsive-sm table-bordered">
                    <thead>
                        <tr>
                            <th>{{ 'user.history.ACTION' | translate }}</th>
                            <th>{{ 'user.history.WHEN' | translate }}</th>
                            <th>{{ 'user.history.WHO' | translate }}</th>
                            <th>{{ 'user.history.DETAILS' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let history of history">
                            <td>{{history.action}}</td>
                            <td>{{history.when}}</td>
                            <td>{{history.who}}</td>
                            <td>
                                <button class="btn btn-primary" (click)="history.show = !history.show"><i class="fa fa-clock-o"></i></button>
                                <div *ngIf="history.show"><br>
                                    <pre>{{ parse(history.details) | json}}</pre>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <ng-template #loading>
                    <div class="progress mb-3">
                        <div class="progress-bar progress-bar-striped bg-primary" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>
                </ng-template>
            </div>
        </div>

    </div>
</div>