<div class="app-body">
    <main class="main d-flex align-items-center">
        <div class="container">

            <div class="row">

                <div class="col-md-8 mx-auto">

                    <div class="card p-4">
                        <div class="card-body">
                            <p class="text-center" ><span class="badge badge-warning ml-0">{{ 'login-callback.LOADING' | translate }}</span></p>
                            <div class="progress mb-3">

                                <div class="progress-bar progress-bar-striped bg-primary" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>